bin/*
!bin/start_selenium
!bin/start_phantomjs
!bin/start_phpserver
!bin/test_shifter
!bin/helper
vendor/
.patches/
.idea/
nbproject/
.DS_Store
.settings/
.project
.buildpath
.cache
composer.phar
phpunit.xml